
  {{> header }}
    {{> navbar }}

    <link rel='stylesheet' href='assets/css/formulario.css'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div class='container'>
            <form class="form" action="guardar" method="GET">

                <input type="text" name="num" placeholder="Número de Lámina"><br><br>
                <input type="text" name="nom" placeholder="Nombre de Lámina"><br><br>
                <input type="text" name="num_sec" placeholder="Numero de la Seccion"><br><br>
                <input type="text" name="nom_sec" placeholder="Nombre de la Seccion"><br><br>
                <input type="text" name="stock" placeholder="Número de laminas"><br><br>
                <input type="Submit" value="Guardar">


            </form>
            </div>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    


{{> foder }}